language: android
jdk: oraclejdk8
env:
  global:
  - ANDROID_TARGET=android-28
  - ANDROID_ABI=armeabi-v7a
  - secure: E2qkU2pwQigSzRhw9vA2AAbfmivxCi+cM9FKnytq3WT1qxBvT8ZuZuEHEdrbq5k9YMexrBrCSpf2W3+7pVurq3Fd0ZQ9GuC1yhK9Q0+/oo1a9otAzZX+4vBHpTm/d6F6f2rHJ6DNoQUniGNrY1zElXlTi/Irhxfl25GS6QSZQBadHdDUViuENvy24G+R36NmSlflH8h1f9bw2ihHrfsnKb7USnSGBK3KrhUd034ugn/bVlxuuHtue9KqQA97mbx8FykefsOwgx1hsv5rmp1IFYGXCzUWj3j8uInEypW5JDZVuzziKcoZfr7WQVSuFfKmoVs7g+6z2pYQngdSz268lPb52XvryhfYYFL8yfcsWhwlXeEjJoQwSx75/FBj8Ex65ZClBiBIgQZnrLGy4H170BSgp4IClXf+2Y2oXFFcWXmbEgriJA5vCd+gvuwTXvFooubey4HsKj/Yfyw67lEi5glxvTe91+uwG8MjgMsRLuuXXsvrXaGpRzTFXV/N7/c2tc0kHfe30v/LtNFmexwk6bsmMlA2+F0O10UNU5gl2lAo6ICXS7F83p84vkgFm/YLG7EiKzCe+3uHwdtCJfzU0WAozSiB2hduT+vFKAuoXu/EeVW7KxpDUB/VC0WupITOoPlaOtLXCZuKwZDxL6UzmNj1Y3tJX4vw0JXGFx27NEc=
android:
  components:
  - tools
  - platform-tools
  - build-tools-28.0.3
  - android-28
  - extra-android-m2repository
  - "$ANDROID_TARGET"
  - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
before_install:
- openssl aes-256-cbc -K $encrypted_ce564b4226fe_key -iv $encrypted_ce564b4226fe_iv
  -in test.jks.enc -out test.jks -d
script:
- ./gradlew assembleRelease
before_deploy:
    # Set up git user name and tag this commit
    - git config --local user.name "$USER_NAME"
    - git config --local user.email "$USER_EMAIL"
    - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
    - git tag $TRAVIS_TAG
deploy:
      provider: releases
      pre-release: true
      api_key:
             secure: P/X26pR4sZm0URmfTycoeQgECqfpTjuWlfpMbah3FTQJLjxLwYwDh0A7GgI6408xNywF745aKU62I3jDc1eR1O3K9K2Vvn9ZVnEC/rJ5com0Owi7d1LqQwCaFgQU33IHkASMzI3OtsNRxfgloTaGH55U2JHOGN4kKtppds5tXUoFW9R4yB0OPONYMUYfvCGIAPtrE9Y3yBO4+NyhmZMJCRHbFZ2HcrR2H9D0Haxia/iZ93/I9PCw624u0N9Aber6b6cWQRDA8JPpxQfjAyU2LhV4wE6ea+u1HEy6QAeLXBgKe/OtSzhpsrd1f5wpxxrX2nXk9/Y+zk39qMYLvON7K5T+Szr5mjgvyDgK0U0kF0INHgDbBppUzBTJQQ1KSxwrBowue5TFJMw9cID1QMVG5qeLLqEVGsDTTrsVf+4b4DSyVI4LM2BiytTHYubqqNRfke2Nz7u0Xo4kDuFbVPyPSyS3uY9TU5Rj7uasD4aKKYo56oGbN0EG1xBUDimWWCiEh3ASOy/jEqJKwzvX4Dt79MylROBludmVuYdwDmLMnXOKv6i0rO/9AvS4hgwGP0lIjWTWF50aTGs+guwF8JBmt7ovKun3FL31vGUgz41P516ngjgdp7V6W5pbULVdh5B+Kv9Ai5nKgGTnk2wzSH/MVnyihp+fZZevUUuof0ziZb4=
      file_glob: true
      file: $TRAVIS_BUILD_DIR/app/build/outputs/apk/release/*.apk
      verbose: true
      skip_cleanup: true
      on:
        branch: newt
        tags: false

notifications:
  email:
    on_success: never
    on_failure: never

