language: android
jdk: oraclejdk8
env:
  global:
  - ANDROID_TARGET=android-28
  - ANDROID_ABI=armeabi-v7a
android:
  components:
  - tools
  - platform-tools
  - build-tools-28.0.3
  - android-28
  - extra-android-m2repository
  - "$ANDROID_TARGET"
  - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
before_install:
- openssl aes-256-cbc -K $encrypted_ce564b4226fe_key -iv $encrypted_ce564b4226fe_iv
  -in test.jks.enc -out test.jks -d
script:
  - "./gradlew clean build connectedAndroidTest -PdisablePreDex --stacktrace"
deploy:
  provider: releases
  api_key:
    secure: MB1jEQl8DDrRtWLFX8ikc/z3/tFUtMmElMYI7cWRbez4AZAud9aYadRzcJJ9Felw/tGfK3sVRhL5oe0PT6gIlsMXDKS8xOysSma+13Cw9Azh1udKATi93vgKgBXgRn6k+BbTYlgbjk27admW9lMWDMyrERnYloADFOXAdNwo9dlJhKpZ9cq3XxN5Al6mpXMHilL2Yn0RDQqzp6Dt3U33PdTvHIcvSwzf37LiGjDNHXsUZiXaM7XevsQWBW74YQiFkd1i+xwxbtG9HTh3rH7haHaBSHhkiXecO+31uvewrpaeRk2O9bEwcAuROEoLr739cOKkaBBWqT4FEYgU7qvFWZAeuBGnBDKcT0smxBjstrOcOlMvyIHdv/QGVPxQlfMltRn2XvfUYsH5p7HeQY5btwhcebtHwf89B7ydHwYdQytRsoqt4u7P7lw8wJEcZ6v3qZudPYlc+hgr+zf+hA8PCGof3hSlr1MhTMdN72d4Zcx40eyifTcCRWZWuWcHrImLYtaZ537Ov6VyIHhtBCrjHtW+uO86yybIROKSLZnN1FT07Kersch37tXnpgfLan1His5/NSZmPfHfQppHhB1mpDh0WUM1n74qeA4v+/c3oCmEQvwg9euPtlPOSyLYKbDxDoWOb0enpYohIC1c9KdTlHp2H2pCk2iH6YRcz5nhOzg=
  file: TravisCIDemo/build/outputs/apk/TravisCIDemo*release*.apk
  file_glob: true
  skip_cleanup: true
  on:
    branch: master
    repo: nomankhan18/TravisCIDemo

after_success:
  - sh set_tags.sh